body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.title {
    font-weight: lighter;
    margin-bottom: 10px;
}

.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#breadcrumb {
    color: #565959;
    font-weight: lighter;
    font-size: 0.7em;
}

.main-img {
    box-shadow: 0px 2px 5px lightgray;
    width: 350px;
}

.text-section {
    width: 550px;
    margin-left: 30px;
}

#siege-text {
    font-weight: bold;
}

#source {
    margin: 0;
    padding: 0;
}

#stars {
    width: 100px;
    margin-top: 10px;
}